{% extends "admin/layoutAdmin.html" %}
{% block content %}
    
    <div class="container-admin">
        <h1>AGREGAR ADMIN</h1>
        <form>
            <input type="text" placeholder="usuario" required>
            <input type="password" placeholder="Contraseña" required>
            <button type="submit">Agregar</button>
        </form>
    </div>
        <!-- editar admins
        <ul class="admin-list">
            <li>Administradores:</li>
            <li>user1@gmail.com</li>
        </ul>
            editar admins -->
{% endblock %}