<!DOCTYPE html>
<html lang="en">
    <head>
    {% block head %}
        <title>
        {% block title %} 
            {% if param %}
                {{param.get('page-title')}} 
            {% endif %}
        {% endblock %}
        </title>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lenoir</title>
        <link rel="stylesheet" href="/static/css/admin/panel.css">
        <link rel="icon" type="image/x-icon" href="/static/icon/logo.png">
    {% endblock %}
    </head>
    <body>
    {% block header %}
        <header>
            <div class="header">
                <div class="lenoirhead"></div>
                <div class="admin">
                    <p>PANEL ADMIN</p>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block content %}
    {% endblock %}
    {% block scripts %}
        <script src="/static/js/admin/panel.js"></script>
    {% endblock %}
    </body>
</html>