
body{
    border:0;
    margin: 0;
    padding: 0;
    font-family: 'Inknut Antiqua', serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.head{
    display: flex;
    background-color: #e9e9e9;
    color: #000000;
    margin: 0;
    border:0;
    flex-direction: column;

}
.arriba{
    display: flex;
    width: 100%;
    border-bottom: 5px solid black;
    align-content: center;
}

p{
    color: #fff;
}

#lenoirhead{
    display: flex;
    background-image: url("img/lenoirhead.svg");
    background-size: cover;
    background-repeat: no-repeat;
    width: 13%;
    height: 60px;
     
}
#vino{
    background-image: url("img/vino.svg");
    background-repeat: no-repeat;
    background-size: cover;  
    width: 40px; 
    height: 100%;
    display: flex;
    align-items: center;
}
#busqueda{
    background-image: url("img/busqueda.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px; 
    height: 100%;
    display: flex;
    align-items: center;
}
.cuentaycarrito{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#cuenta{
    background-image: url("img/cuenta.svg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px; 
    height: 100%;
    display: flex;
    align-items: center;
}
#carrito{
    background-image: url("img/carrito.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px; 
    height: 100%;
    display: flex;
    align-items: center;
}

.abajo{
    display: flex;
    border-bottom: 5px solid black;
    flex-wrap: wrap;

}

.cuerpo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 1150px;
    position: relative;
}
#carrousel{
    display: flex;
    background-image: url("img/lenoir.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 60%;
}
#mid{
    display: flex;
    background-color: darkgrey;
    height: 20%;
    width: 100%;
}
#promo{
    display: flex;
    background-color: #000000;
    height: 40%;
    width: 100%;
}

footer{
    background-color: darkred;
    color: #fff;
    padding: 10px 30px;
    width: auto;
    display: flex;
    flex-direction: column;
}
.pagos {
    display: flex;
    background-image: url("img/.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 50px;
}

.pagos p {
    text-align: left;
    font-size: 18px;
}

.LogoFooter{
    display: flex;
    background-image: url("img/logo.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 70px;
    height: 300px;
    align-self: flex-end;
}

.Copyright {
    display: flex;
    font-size: 15px;
    text-align: end;
}
