body{
    margin: 0;
    padding: 0;
    font-family: 'Inknut Antiqua', serif;
}
.head{
    background-color: darkred;
    color: #000000;
    padding: 15px;
    margin-bottom: 10px;
}
.arriba{
    display: flex;
    
    width: 100%;
    border: 10px solid black;
    height: 70%;
}

.abajo{
    display: flex;
}


.cuerpo{
    height: 200px;
    text-align: center;
}
.iml{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    text-align: center;
}
#mid{
    display: flex;
    flex-direction: row;
    background-color: darkgrey;
    height: 100%;
    width: 100%;
    text-align: center;
}

footer {
    background-color: darkred;
    color: #fff;
    padding: 10px 35px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 100px;
    margin: 0 auto;
}

.payment-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
    
.payment-title {
    margin-bottom: 10px;
    font-size: 16px; 
}
    
    
.payment-section img {
    width: 100px; 
}
    
    
.contact {
    text-align: center;
    font-size: 18px;
}
    
.LogoF {
    width: 70px;
    align-self: flex-end;
}
    
    
.Copyright {
    font-size: 15px;
    align-self: flex-end;
}
    

