* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100vh;
    background-image: url(bebidas.jpg);
    background-position:center center;
    background-repeat: no-repeat;
    background-size: cover;
}


form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    width:400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    background-color: #EEEEEE;
}

.logo{ 
    display: flex;
    justify-content: center; 
    align-items: center;
    height: 25px;
    
}
img {
    max-width: 100%;
    height: auto;  
}          

label, p{
    font-size: 17px;
    color: #575757;
    margin-bottom: 10px;
}

input{
    padding:17px 11px;
    border: 1px solid #A30505;
    border-radius: 25px;
    margin-bottom: 25px;
    background-color: #FAFAFF;
    outline:none;
    color: #A30505;
    font-size:17px;
}

.btn-1{
    background-color: #A30505;
    font-size: 15px;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;

}

.btn-1:hover{
    background-color: #A30505;
}

.remember{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
@media(max-width:991px){

    body{
        padding:30px;
    }

    form{
        width:100%;
    }

    .remember{
        flex-direction: column;
    }
}