

body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'P22 Mackinac', sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
a{
    text-decoration: none;
}
@media screen {
    
}
@media screen {
    
}
/*   LO DEL ARRIBA DE HEADER */
.upper-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 27px;
    font-size: 13px;
    color: black;
    background-color: darkgray;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.head{
    display: flex;
    background-color: black;
    color: white; /* Changed text color to white for better contrast */
    margin: 0;
    border:0;
    flex-direction: column;
    border-bottom: 1px solid white;

}
header ul li{
    display: inline-block;
    list-style: none;
    margin: 0 30px;
    border-bottom: 1px solid #ffffff;
    
}
.underlined{
    line-height: 1px;
}
header ul li:last-child{
    margin-right: 0;
}
header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 22px 0;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 18px;
 

}
h1 {
    margin: 20px 0;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item img, .item1 {
    width: 200px;
    height: 200px;
    background-color: black; 
    margin-bottom: 10px;
    object-fit: cover;
}
button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #444;
}
header ul li a:hover{
    color: #ff8a00;
}

    header ul .submenu{
    position: absolute;
    width: auto;
    min-width: 120px; 
    background-color: #000000;
    box-shadow: 0 20px 45px #00000020;
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s;
    white-space: nowrap;
    }
    header ul li:hover .submenu{
    z-index: 99;
    opacity: 1;
    margin-top: 0;
    }
    header ul .submenu li{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 

    } 
    header ul .submenu li a{
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    text-align: center; 
    white-space: nowrap; 
    }
    
    .hero_sec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
    position: relative;
    padding: 0 20px;
}
#lenoirhead {
    background-image: url("/lenoir/screens/img/logonegro.png");
    background-size: cover; 
    background-repeat: no-repeat;
    width: 250px; 
    height: 100%; 
}

.categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    padding-left: 20px;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: -30px;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    width: 250px;
    
}

#search-icon{
    background-image: url("/lenoir/screens/img/search.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

/* Iconos de cuenta y carrito */
.account {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 40px;
}

.account a {
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

#cuenta {
    background-image: url("/lenoir/screens/img/cuenta.svg");
}

#carrito {
    background-image: url("/lenoir/screens/img/carrito.svg");
    
}
.cart-sidebar {
    position: fixed;
    right: -100%;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -5px 0 5px rgba(0,0,0,0.2);
    transition: right 0.3s ease;
    z-index: 1000;
}

.cart-sidebar.open {
    right: 0; /* Se despliega desde el costado derecho */
}

/* Cabecera del carrito */
.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: black;
    color: white;
}

.cart-header h2 {
    margin: 0;
}

.close-btn {
    cursor: pointer;
    font-size: 24px;
}

/* Contenido del carrito (productos) */


.cart-items {
    padding: 15px;
    height: calc(100% - 120px);
    overflow-y: auto;
}

.cart-footer {
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
}

.cart-footer button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

#carrousel{
    display: flex;
    background-image: url("/lenoir/screens/img/fondo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 800px;
    border-bottom: 1px solid white;
}


/* comienza la parte media, son cualidades de lenoir */
.mid{
    display: flex;
    background-color:   #afb2b7;
    height: 220px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.midcolumn{
    display: flex;
    background-color: #afb2b7;
    width: 33%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.midcircle{
    background-color: white;
    height: 5rem;
    width: 5rem;
    border-radius: 80px;
    margin: 1rem;
}
.midbox{
    width: 50%;
    text-align: center;
    }

#moto{
    background-image: url("/lenoir/screens/img/moto.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
#bank{
    background-image: url("/lenoir/screens/img/bank.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
#event{
    background-image: url("/lenoir/screens/img/event.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
h6{
    font-size: 20px;
    margin: 10px 5px;
}
span{
    font-size: 14px;
}
/*  termina parte media cualidades de lenoir */





footer{
    background-color: black;
    padding: 0px 30px;
    width: auto;
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.pagos {
    display: flex;
    background-image: url("/lenoir/screens/img/pago.svg");
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    width: 100%;
    height: 70px;

}
.logofooter {
    display: flex;
    background-image: url("/lenoir/screens/img/logo-footer.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 120px;
}
.pago{
    flex-direction: column;
    width: 30%;
    height: 85%;
    align-self: center;
    
}
.medios_pago{
    text-transform: uppercase;
    width: 40%;
    font-size: 12px;
    padding-bottom: 10px;
}
.contacto{
    font-size: 12px;
    width: 10%;
    height: 85%;
    align-self: center;
    text-transform: uppercase;
    text-align: center;
}
.social-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid var(black);
    background-image: url("/lenoir/screens/img/tiktok.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    margin: 1rem;
}
.social-media, .social-footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-icon:hover{
    background-color: #ff8a00;
}
.social-icon:nth-of-type(2){
    background-image: url("/lenoir/screens/img/ig.svg");
}
h3, p{
    color: white;   
}
.copyright {
    margin-top: 30px;
    display: inline-block;
    color: #5e5e5e;
    font-size: 12px;
    letter-spacing: 1px;
}

/* Media Queries Ajustadas */

@media (max-width: 576px) {
    .nav {
        height: auto;
    }

    .container {
        flex-direction: column;
        padding: 10px;
    }

    .account {
        height: auto; /* Cambiado a auto para mejor ajuste */
        flex-direction: column;
    }

    #cuenta, #carrito {
        width: 150px;
    }

    .responsive-nav {
        display: flex;
        align-items: baseline;
    }

    header ul li {
        margin: 0 15px;
    }

    header ul {
        flex-direction: column;
    }

    .account {
        padding: 0;
    }

    .product p {
        font-size: 14px; /* Asegurarse que el texto no quede pequeño */
    }

    .categories {
        text-align: left;
    }

    .mid {
        flex-direction: column;
        align-items: center; /* Alinear elementos al centro */
        padding: 20px 0; /* Espacio entre las columnas */
    }

    .midcolumn {
        margin-bottom: 20px; /* Espacio entre columnas en móvil */
        width: 90%; /* Mejorar el ancho en móvil */
    }

    footer {
        flex-direction: column;
        padding: 20px 10px;
        align-items: center; /* Centrar contenido del footer */
    }

    .pago, .contacto, .logofooter {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }

    h3, p {
        font-size: 14px;
    }

    .logofooter {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    header ul {
        flex-direction: row;
    }

    .product img, .tamano-productos, .item img, .item1 {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    #lenoirhead {
        width: 200px;
        height: 80px;
        background-size: contain;
    }

    footer {
        padding: 20px;
        flex-direction: column;
        align-items: center; /* Alinear contenido del footer */
    }

    .pago, .contacto, .logofooter {
        width: 100%;
        margin-bottom: 10px;
    }

    h3, p {
        font-size: 14px;
    }

    .logofooter {
        display: none;
    }

    .mid {
        flex-direction: column;
        align-items: center; /* Alinear elementos al centro */
    }

    .midcolumn {
        width: 80%; /* Asegurarse de que las columnas ocupen más espacio */
    }
}

@media (max-width: 1000px) {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .product img, .tamano-productos, .item img, .item1 {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }

    #lenoirhead {
        width: 200px;
        height: 80px;
        background-size: contain;
    }

    footer {
        padding: 20px;
        flex-direction: column;
        align-items: center; /* Alinear contenido del footer */
    }

    .pago, .contacto, .logofooter {
        width: 100%;
        margin-bottom: 10px;
    }

    .mid {
        flex-direction: column;
        align-items: center; /* Alinear elementos al centro */
    }

    .midcolumn {
        width: 90%; /* Asegurarse de que las columnas ocupen más espacio */
        margin-bottom: 20px; /* Espacio entre columnas en dispositivos más grandes */
    }

    .logofooter {
        display: none;
    }
}

@media (min-width: 1001px) {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
