body {
    border: 0;
    margin: 0;
    padding: 0;
    font-family: 'P22 Mackinac', sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
    background-color: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
html, body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
img, video {
    max-width: 100%;
    height: auto;
}

a{
    text-decoration: none;
}

@media (min-width: 1450px) {
    .upper-header{
        text-transform: uppercase;
    }
    .nav {
        padding: 0 20px;
    }
    .account{
        margin-left: auto;
        padding-right: 20px;
    }
    .menu{
        display: none;
    }
    #carrito {
        width: 3rem;
        height: 3rem;
    }
    #cuenta {
        width: 3rem;
        height: 3rem;
    }
}

@media (max-width: 1450px) {
    .nav {
        padding: 0 15px;
    }
    .hideOnMobile{
        display: none;
    }
    .search-bar{
        display: none;
    }
    #lenoirhead{
        display: none;
    }
    .lenoirhead{
        background-image: url("/lenoir/screens/img/logonegro.png");
        background-size: contain; 
        background-repeat: no-repeat;
        width: 250px; 
        height: 100%; 
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all ease 0.3s;
    }
    .nav{
        justify-content: space-between;
    }
    #menu{
        width: 2rem;
        height: 2rem;
    }
    #carrito {
        width: 2rem;
        height: 2rem;
    }
    #cuenta {
        width: 2rem;
        height: 2rem;
    }
}


@media (max-width: 500px) {
    .nav {
        padding-right:10px;
    }
    .upper-header{
        font-size: 10px;
    }
    .lenoirhead{
        width: 200px; 
        height: 80%; 
        transition: all ease 0.3s;
    }
    .cuenta{
        width: 15px;
        height: 15px;
    }
    .carrito{
        width: 15px;
        height: 15px;
    }
    #lenoirhead {
        width: 200px;
    }
    header ul .submenu li {
        width: 20%;
    }
}


/*   LO DEL ARRIBA DE HEADER */
.upper-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 27px;
    font-size: 13px;
    color: black;
    background-color: darkgray;
    margin: 0;
    text-align: center;
}

.head{
    display: flex;
    background-color: black;
    color: white; 
    margin: 0;
    border:0;
    flex-direction: column;
    border-bottom: 1px solid white;

}
header ul li{
    display: inline-block;
    list-style: none;
}
.hideOnMobile{
    border-bottom: 1px solid #ffffff;
    border-width: 0.1rem;
    margin: 0 30px;
    padding: 15px 0;
}
.underlined{
    line-height: 1px;
    display: inline-block;
    transition: all ease 0.3s;
}
header ul li:last-child{
    margin-right: 0;
}
header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    display: inline-block;
    font-size: 18px;
}
h1 {
    margin: 20px 0;
    font-size: 24px;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px auto;
    width: 90%;
    max-width: 1200px;
}

button {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

button:hover {
    background-color: #444;
}

header ul li a:hover{
    color: #ff8a00;
}

    header ul .submenu{
    position: absolute;
    width: auto;
    min-width: 120px; 
    background-color: #000000;
    box-shadow: 0 20px 45px #00000020;
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s;
    white-space: nowrap;
    }
    header ul li:hover .submenu{
    z-index: 99;
    opacity: 1;
    margin-top: 0;
    }
    header ul .submenu li{
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center; 

    } 
    header ul .submenu li a{
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    text-align: center; 
    white-space: nowrap; 
    }

.nav {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    position: relative;
}
#lenoirhead {
    background-image: url("/lenoir/screens/img/logonegro.png");
    background-size: cover; 
    background-repeat: no-repeat;
    width: 250px; 
    height: 100%; 
}

.categories {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

/* Iconos de cuenta y carrito */
.account {
    display: flex;
    align-items: center;
    gap: 15px;  
}

.account a{
    width: 40px;
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.menu{
    background-image: url("/lenoir/screens/img/menu.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all ease 0.4s;
    margin-left: 10px;
}

#cuenta{
    background-image: url("/lenoir/screens/img/cuenta.svg");
    transition: all ease 0.4s;
}
#cuenta:hover {
    background-image: url("/lenoir/screens/img/accounthover.svg");
}

#carrito {
    background-image: url("/lenoir/screens/img/carrito.svg");
    transition: all ease 0.4s;
}
#carrito:hover {
    background-image: url("/lenoir/screens/img/carthover.svg");
}

.menu:hover{
    background-image: url("/lenoir/screens/img/menuhover.svg");
}

.crossmenu{
    background-image: url("/lenoir/screens/img/crossmenu.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 2rem;
    height: 2rem;
    transition: all ease 0.4s;
}
.crossmenu:hover{
    background-image: url("/lenoir/screens/img/crossmenuhover.svg");
}

.categories-sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0,2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0,1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.categories-sidebar li{
    width: 100%;
}

.categories-sidebar a{
    width: 100%;
}
.sideunder{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px;
    text-align: center;
    margin: 0;
}
/* +++++++++++++++++++ */
/* hasta aca es header */
/* +++++++++++++++++++ */
.cart-sidebar {
    position: fixed;
    right: -100%;
    top: 0;
    width: 300px;
    height: 100%;
    background-color: #f4f4f4;
    box-shadow: -5px 0 5px rgba(0,0,0,0.2);
    transition: right 0.3s ease;
    z-index: 1000;
    color: black;
}

.cart-sidebar.open {
    right: 0; 
}


.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: black;
    color: white;
}

.cart-header h2 {
    margin: 0;
}

.close-btn {
    cursor: pointer;
    font-size: 24px;
}




.cart-items {
    display: flex;
    padding: 15px;
    height: calc(100% - 120px);
    overflow-y: auto;
    color: black;
    flex-direction: column;
}

.contador {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 5px 40px 0 0;
    color: black;
}
.cartinfo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    color: black;
}
.remove-item {
    margin-left: 10px;
    font-size: 14px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.item-details{
    text-align: center;
    color: black;
}
.cart-footer {
    padding: 15px;
    background-color: black;
    color: white;
    text-align: center;
}
.totalprice{
    border-bottom: 1px dashed grey;
}
.cart-footer button {
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 100%;
}

.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    margin: auto;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
    opacity: 0;
}

.carousel-item.active {
    opacity: 1;
}
.carousel-item {
    display: none;
}

.carousel-item.active {
    display: block;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

.carousel-control-prev {
    left: 10px;
}

.carousel-control-next {
    right: 10px;
}
.carrouselimg1{
    background-image: url("/lenoir/screens/img/fondo.jpeg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.carrouselimg2{
    background-image: url("/lenoir/screens/img/home2.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
.carrouselimg3{
    background-image: url("/lenoir/screens/img/home3.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}
/* comienza la parte media, son cualidades de lenoir */
.mid{
    display: flex;
    background-color:   #afb2b7;
    height: 220px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
}
.midcolumn{
    display: flex;
    background-color: #afb2b7;
    width: 33%;
    height: 100%;
    align-items: center;
    justify-content: center;
}
.midcircle{
    background-color: white;
    height: 5rem;
    width: 5rem;
    border-radius: 80px;
    margin: 1rem;
}
.midbox{
    width: 50%;
    text-align: center;
    }

#moto{
    background-image: url("/lenoir/screens/img/moto.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
#bank{
    background-image: url("/lenoir/screens/img/bank.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
#event{
    background-image: url("/lenoir/screens/img/event.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}
h6{
    font-size: 20px;
    margin: 10px 5px;
}
span{
    font-size: 14px;
}
/*  termina parte media cualidades de lenoir */





footer {
    background-color: #000000;
    color: black;
    font-size: 16px;
    width: 100%;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
    background-color: black;
    
    
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
    
  }
  h3 {
    width: 100%;
    text-align: left;
    color: white;
    font-size: 1.4em;
    white-space: nowrap;
  }
  footer ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  footer li:not(:first-child) {
    margin-top: 0.8em;
  }
  footer ul li a {
    color: #a7a7a7;
    text-decoration: none;
  }
  footer ul li a:hover {
    color: #2a8ded;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  
  .social i {
    color: #bac6d9;
  }
 
  .copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
  }
  .footer-menu{
    float: left;
      margin-top: 10px;
  }
  
  .footer-menu a{
    color: #cfd2d6;
    padding: 6px;
  
    text-decoration: none;
  }
  .footer-menu a:hover{
    color: #27bcda;
  }
  .copyright p {
    font-size: 0.9em;
    text-align: right;
    color: darkgrey;
  }
  footer h3{
    margin-bottom: 10px;
  }
.mediodepago {
    background-image: url("/lenoir/screens/img/pago.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%; 
    height: 200px;
    background-position: center; 
}
  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  
  }
@media (max-width: 750px) {
    footer {
        flex-direction: column;
        align-items: center;
        padding: 15px 25px;
    }

    .pago, .contacto, .logofooter {
        width: 40%;
        margin-bottom: 10px;
    }

    .social-media {
        margin-top: 5px;
    }

    .social-icon {
        height: 40px;
        width: 40px;
    }

    .medios_pago, .contacto {
        font-size: 12px;
    }
}
@media (max-width: 1001px) {
    footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 30px;
    }

    .pago, .contacto, .logofooter {
        width: auto;
    }

    .medios_pago, .contacto {
        font-size: 12px;
    }
    .mediodepago {
        height: 100px;
        width: 600px;
    }
    .social-icon {
        height: 50px;
        width: 50px;
    }
}
@media (max-width: 480px) {
    footer {
      padding: 10px 15px;
    }

    .row.primary {
      grid-template-columns: 1fr;
    }

    .column {
      padding: 0 1em;
    }

    h3 {
      font-size: 1.2em;
    }

    ul li a {
      font-size: 0.9em;
    }

    .social-icon {
      height: 30px;
      width: 30px;
    }

    .mediodepago {
      height: 80px;
      width: 100%;
    }
  }
@media (max-width: 576px) {
    .nav {
    
        width: auto;
        height: auto;
        flex-direction: column;
  }

    .container {
        flex-direction: column;
        padding: 10px;
    }
    .account{
        
        height: 200px;
        flex-direction: column;
    }
    #cuenta, #carrito{
        width: 150px;
    }
    .responsive-nav{
        display: flex;
        align-items: baseline;
    }
    header ul li {
        margin: 0 15px;
    }
    header ul {
        flex-direction: column;
    }
    .account{
        padding: 0;
    }
    .product {
        display: flex;
        flex-direction: column;
        align-items: center; 
        width: 250px;
        margin-bottom: 20px;
        text-align: center; 
    }
    .product img {
        width: 250px; 
        height: 250px; 
        object-fit: cover; 
        margin-bottom: 10px; 
    }

    .product p {
        margin-top: 10px; 
        font-size: 16px; 
    }

    .categories {
        text-align: left;
    }
   
    .search-bar input {
        width: 100%;
        font-size: 14px;
    }

    .mid{
        display: none;
    }
   
    .catalog {
        flex-direction: column;
    }

    .contador {
        justify-content: space-between;
        width: 100%;
        margin: 10px 0;
    }

    footer {
        flex-direction: column;
        padding: 20px 10px;
    }

    .pago, .contacto, .logofooter {
        width: 100%;
        text-align: center;
        margin-bottom: 15px;
    }
    
    h3, p {
        font-size: 14px;
    }

    .logofooter {
        display: none;
    }

    .search-bar {
        display: none;
    }

    .contador {
        display: none;
    }
}

@media (max-width: 768px) {
    
    .nav {
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        
    }
    .mid{
        display: none;
    }
    header ul {
        flex-direction: column;
    }
    .product img, .tamano-productos, .item img, .item1 {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
    #lenoirhead {
        width: 200px;
        height: 80px;
        background-size: contain;
    }

    .product {
        flex: 1 1 48%; 
        margin: 1%;
    }

    footer {
        padding: 20px;
        flex-direction: column;
    }

    .pago, .contacto, .logofooter {
        width: 100%;
        margin-bottom: 10px;
    }

    h3, p {
        font-size: 14px;
    }
    .logofooter{
        display: none;
    }
    
    .product img {
        width: 100%;
        height: auto;
        object-fit: contain; 
    }
    .contador{
        display: none;
    }
}
@media (max-width: 1000px) {
     .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

    .mid{
        display: none;
    }
    .product img, .tamano-productos, .item img, .item1 {
        width: 250px;
        height: 250px;
        object-fit: cover;
    }
   
    #lenoirhead {
       display: none;
    }

    .search-bar{
        display: none;
    }
    .product {
        flex: 1 1 48%; 
        margin: 1%;
    }

    footer {
        padding: 20px;
        flex-direction: column;
    }

    .pago, .contacto, .logofooter {
        width: 100%;
        margin-bottom: 10px;
    }

    h3, p {
        font-size: 14px;
    }
    .logofooter{
        display: none;
    }
    
    .product img {
        width: 100%;
        height: auto;
        object-fit: contain; 
    }
    .contador{
        display: none;
    }
}
@media (min-width: 1001px) {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .catalog {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .search-bar {
        display: flex; 
        width: 100%; 
        margin-bottom: 15px; 
        justify-content: center;
        align-items: center;
        padding: 5px;
    }

    .search-bar{
        display: none;
    }

    
    .product img {
        width: 100%;
        height: auto;
        object-fit: contain; 
    }
}
