body{
    border:0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
.upper-header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 27px;
    font-size: 13px;
    color: black;
    background-color: darkgray;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
}

.head{
    display: flex;
    background-color: black;
    color: #000000;
    margin: 0;
    border:0;
    flex-direction: column;
    border-bottom: 1px solid white;

}
header ul li{
    display: inline-block;
    list-style: none;
    margin: 0 30px;
    border-bottom: 1px solid grey;
}
header ul li:last-child{
    margin-right: 0;
}
header ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 22px 0;
    display: inline-block;
    transition: all ease 0.3s;
    font-size: 18px;
}
header ul li a:hover{
    color: #ff8a00;
}

    header ul .submenu{
    position: absolute;
    width: auto;
    min-width: 120px; 
    background-color: #000000;
    box-shadow: 0 20px 45px #00000020;
    margin-top: -50px;
    opacity: 0;
    z-index: -999;
    transition: all ease 0.5s;
    white-space: nowrap;
    }
    header ul li:hover .submenu{
    z-index: 99;
    opacity: 1;
    margin-top: 0;
    }
    header ul .submenu li{
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 

    } 
    header ul .submenu li a{
    padding: 10px 15px;
    display: inline-block;
    width: 100%;
    text-align: center; 
    white-space: nowrap; 
    }
    
    .hero_sec{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    }

.nav {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    height: 100px; 
    position: relative; 
    padding: 0 20px; 
}

#lenoirhead {
    background-image: url("img/logonegro.png");
    background-size: cover; 
    background-repeat: no-repeat;
    width: 250px; 
    height: 100%; 
}

.categories {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1; 
    padding-left: 20px;
}
.account {
    display: flex;
    align-items: center;
    gap: 15px;
    right: 20px; 
    top: 50%; 
    
    padding-right: 40px;
}
.account a{
    width: 40px; 
    height: 40px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#cuenta {
    background-image: url("img/cuenta.svg");
}
#carrito {
    background-image: url("img/carrito.svg");
}
#search{
    background-image: url("img/search.svg");
}


.product-container {
    
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 30px;
}
.product-image {
   
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    overflow: hidden;
}
.product-image img {
    
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.product-info {
    
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 15px;
    position: relative;
}
.product-name {
    display: flex;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    color: #2c3e50;
    margin-top: -20px; 
}
.pagos-medio {
    background-image: url("img/11111.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 15%;
    height: 100%;
    
}
.payment{
    display: flex;
}
.product-price {
    display: flex;
    color: #c40835;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}
.add-to-cart-btn {
    background-color: black;
    color: #fff;
    padding: 15px 25px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}
.add-to-cart-btn:hover {
    background-color: grey;
}
.product-description {
    display: flex;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    font-size: 18px;
    line-height: 1.8;
}
.info-box {
    
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 15px;
    font-size: 16px;
}
footer {
    background-color: black;
    padding: 0px 30px;
    width: 100%; 
    height: 180px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    bottom: 0; 
    left: 0;
}

.pagos {
    display: flex;
    background-image: url("/lenoir/screens/img/pago.svg");
    background-size: contain;
    background-repeat: no-repeat;
    align-items: center;
    width: 100%;
    height: 70px;
}

.logofooter {
    display: flex;
    background-image: url("/lenoir/screens/img/logo-footer.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 80px;
    height: 120px;
}

.pago{
    
    flex-direction: column;
    width: 30%;
    height: 85%;
    align-self: center;
   
}

.medios_pago {
    text-transform: uppercase;
    width: 40%;
    font-size: 12px;

}

.contacto {
    font-size: 12px;
    width: 10%;
    height: 85%;
    align-self: center;
    text-transform: uppercase;
}

.social-icon {
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid var(black);
    background-image: url("/lenoir/screens/img/tiktok.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70%;
    margin: 1rem;
}

.social-media, .social-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social-icon:hover{
    background-color: #ff8a00;
}

.social-icon:nth-of-type(2){
    background-image: url("/lenoir/screens/img/ig.svg");
}

h3, p{
    color: white;
}

.copyright {
    display: inline-block;
    vertical-align: middle;
    color: #5e5e5e;
    font-size: 12px;
    text-transform: lowercase;
    letter-spacing: 1px;
}
