
/*basico*/
*{
    box-sizing: border-box;
}

body{
    border:0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}
.header{
    display: flex;
    background-color: #7D2221;
    width: 100%;
    height: 80px;
    
    align-items: center;
}
.lenoirhead {
    background-image: url("/lenoir/screens/img/lenoirhead.svg");
    background-size: cover; 
    background-repeat: no-repeat;
    width: 250px; 
    height: 100%;

}
.admin{
    font-size: 40px;
    justify-content: center;
    margin-left: 28%;
    text-align: center;
}
p{
    color: #fff;
    margin: 0;
}
a{
    padding: 20px;
}
/*basico*/


/*addproducto*/

.box-form{
    display: flex;
    justify-content: center;
    width: 40%;
    height: auto;
    margin-bottom: 10px;
    text-align: center;
}
.boxaddprod{
    margin-top: 100px;
}
.boxclose{
    width: 20%;
    margin-left: 10px;
}
.boxnormal{
    width: 70%;
    margin-right: 10px;
    margin-left: 10px;
}
.boxtext{
    width: 70%;
    height: 200px;
    margin-right: 10px;
}
.boximg{
    width: 70%;
    height: 200px;
    margin-left: 10px;
}

@media screen and (max-width: 1080px) {
    .box-form{
        width: 70%;
    }
}

@media screen and (max-width: 450px) {
    .box-form{
        text-align: center;
        width: 80%;
        display: block;
        justify-content: center;
    }
    .boxclose{
        transform: right;
        width: 33%;
        margin: auto;
    }

}

/*add producto*/

/*add producto*/


















/*add producto*/







/*panel*/
.panel {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
.panel a {
    text-decoration: none;
}

.panel button {
    padding: 15px 25px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #CB5151;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    width: 15%;
    text-align: center;
    margin-left: 40%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.panel button:hover {
    background-color: #A30505;
    transform: translateY(-3px);
}

.panel button:active {
    transform: translateY(0);
}
/*panel admin*/

@media (max-width: 1024px) {
    
    .admin {
        font-size: 32px;
        margin-left: 15%;
    }

    .panel button {
        width: 30%;
        margin-left: 35%;
    }
    
}
/* RESPONSIVE PANEL*/

@media (max-width: 768px) {
    .header {
        flex-direction: column;
        height: auto;
    }

    .lenoirhead {
        display: none;
    }

    .admin {
        font-size: 24px;
        margin-left: 0;
        text-align: center;
    }

    .panel button {
        width: 50%;
        margin-left: 25%;
    }
}


@media (max-width: 480px) {
    .lenoirhead {
        width: 150px;
        height: 50px;
    }

    .admin {
        font-size: 18px;
        margin-left: 0;
    }

    .panel {
        padding: 20px;
    }

    .panel button {
        width: 80%;
        margin-left: 10%;
    }
    
}
/* RESPONSIVE PANEL*/





/*agregar producto*/
.stock-section {
    padding: 20px;
}

.stock-section h2 {
    margin-bottom: 20px;
}

.product-list {
    list-style: none;
    padding: 0;
}

.product-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.product-name {
    font-weight: bold;
}

.stock-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.add-stock {
    padding: 5px 10px;
    background-color: #CB5151;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.add-stock:hover {
    background-color: #7D2221;
}

.stock-quantity {
    font-weight: bold;
    font-size: 16px;
}

.search-bar {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #CB5151;
    border-radius: 20px;
    font-size: 16px;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    background-color: #CB5151;
    
}
.search-bar::placeholder{

    color: #ffffff;
    opacity: 1;
}
/*agregar producto*/










/*edit admin*/
.container-admin {
    margin-top: 150px;
    text-align: center;
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    
}

h1 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    width: 300px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 16px;
    outline: none;
}

input:focus {
    border-color: #666;
}

button {
    width: 320px;
    padding: 10px;
    border: none;
    border-radius: 25px;
    background-color: #CB5151;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #7D2221;
}

.admin-list {
    margin-top: 20px;
    list-style-type: none;
}

.admin-list li {
    font-size: 18px;
    color: #333;
}
/*edit admin*/













/*historial*/
.box{
    background-color: black;
    margin-top: 2%;
    margin-bottom: 5%;
    margin-right: 4%;
    margin-left: 4%;
    color: black;
    
}
.tabla{
    border: none;
    background-color: #D9D9D9;
    margin: 5%;
    margin-top: 0;
}

.volver{
    margin-bottom: 2%;
    
}
#volver{
    background-color: #6B0404;
    border-radius: 0;
    width: 13%;
}
.search-bar{
    background-color: #D9D9D9;
    margin-bottom: 3%;
    margin-top: 2%;
    font-size: 16px;
    border: none;
    border-radius: 7px;
}

.filter-box{
    display: flex;
    justify-content: center;
    height: 50px;
}
.filter-tabla{
    display: flex;
    margin-right: 40px;
}
.filter-btn{
    width: 100px;
    margin: 5px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

table th, table td {
    border-collapse: collapse;
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
    color: black;
}
table td{
    border: none;
}
table th{
    border: none;
    background-color: #751111;
    padding: 15px;
    text-transform: uppercase;
    font-size: 14px;
    
}

/*historial*/
/* RESPONSIVE HISTORIAL */
@media (min-width: 768px) {
    .box{
        margin-left: 8%;
        margin-right: 8%;
    }
}

.tabla{
    border: none;
    background-color: #D9D9D9;
    margin: 5%;
    margin-top: 0;
}

.volver{
    margin-bottom: 2%;
}

#volver{
    background-color: #6B0404;
    border-radius: 0;
    width: 13%;
}

.search-bar {
    background-color: #D9D9D9;
    margin-bottom: 3%;
    margin-top: 2%;
    padding: 7px;
    font-size: 16px;
    border: none;
    border-radius: 7px;
    width: 100%;
}

.filter-box{
    display: flex;
    justify-content: space-around;
    height: 100px;
    margin: 10px;
}

.filter-tabla{
    display: flex;
    height: 50%;
    margin: 0;
}

.filter-btn{
    width: 100px;
    margin: 5px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

table th, table td {
    border-collapse: collapse;
    border: 1px solid #444;
    padding: 10px;
    text-align: center;
    color: black;
}

table td{
    border: none;
}

table th{
    border: none;
    background-color: #751111;
    padding: 15px;
    text-transform: uppercase;
    font-size: 14px;
}

/* RESPONSIVE HISTORIAL*/
@media (max-width: 768px) {
    .box{
        margin-left: 2%;
        margin-right: 2%;

    }
    #volver {
        width: 40%;
    }
    .search-bar-box{
        justify-content: space-between;
    }
    .search-bar {
        width: 90%;
        margin-left: 5%;
    }
    .tabla{
        margin: 20px;
    }
    .filter-box {
        display: block;
        justify-content: space-between;
    }

    .filter-tabla {
        align-items: center;
        justify-content: center;
        margin: 5px;
    }

    table th, table td{
        font-size: 12px;
        padding: 7px;
    }

    .filter-btn {
        width: 20%;
        margin: 10px;
    }
}

/* Media Query para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
    .search-bar {
        width: 100%;
        margin-left: 0;
    }
    #volver {
        width: 90%;
    }

    table th, table td {
        font-size: 9px;
        padding: 5px;
    }
    .save{
        width: 70%;
    }
}


/*stateOrder*/
    .saveorder{
        margin: 10px;
        text-align: right;
    }
    .save{
        margin: 10px;
    }
/*stateOrder*/