{% extends "client/layout.html" %}
{% block head %}
    <title>Contacto</title>
    <link type="text/css" href="/static/css/client/contacto.css" rel="stylesheet"/>
{% endblock %}
{% block content %}
<div class="Adminlogin">
    <form method="post" id="contacto">
        <div class="Email"> 
            <input type="text" id="emailcontacto" placeholder="Email">
        </div>
        <div class="Asunto">
            <input type="text" id="asunto" placeholder="Asunto">
        </div>
        <div class="Consulta">
            <input type="text" id="descripcion" placeholder="Desarrolle su consulta"></input>
        </div>
        <input type="submit" value="Enviar">
        <div id="modal_container" class="modal-container">
            <div class="modal">
            <h1>Enviado Correctamente</h1>
            </div>
        </div>
        <p class="warnings" id="warnings"></p>
    </form>
</div>
{% endblock %}
