{% extends "client/layout.html" %}
{% block head %}
    <title>Mi Pedido</title>
    <link rel="stylesheet" href="/lenoir/screens/client/clientstyles/pedidos.css">
{% endblock %}
{% block content %}
<div class="box">
    <div class="table">
        <table>
            <thead>
                <label>codOrden: 3</label>
                <tr>
                    <th>Productos</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        fernet
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr>
                    <td>
                        vino
                    </td>
                    <td>
                        2
                    </td>
                </tr>
                <tr>
                    <td>
                        hielo
                    </td>
                    <td>
                        1
                    </td>
                </tr>
        </table>
        <label>total: $200</label>
        
    </div>
    <div class="estado"></div>
</div>
<div class="volver">
    <a href="/lenoir/screens/client/myorder.html">
        <button>VOLVER</button>
    </a>
</div>
{% endblock %}