<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lenoir</title>
    <link rel="stylesheet" href="/static/css/client/style.css">+
    <link rel="icon" type="image/x-icon" href="/static/icon/logo.png">
</head>
<footer>
    <div class="row primary">
        <div class="column about">
            <h3>Medios de pago</h3>
            <div class="mediodepago"></div>
        </div>
        <div class="column links">
            <h3>Redes sociales</h3>
            <ul>
                <li><a href="">Instagram</a></li>
                <li><a href="">Tiktok</a></li>
                <li><a href="">Facebook</a></li>
                <li><a href="">Twitter</a></li>
            </ul>
        </div>
        <div class="column logo">
            <div class="logofooter"></div>
        </div>
    </div>
    <div class="row copyright">
        <p>Copyright &copy; 2025 Lenoir Bebidas</p>
    </div>
</footer>