{% extends "client/layout.html" %}

<body>
{% block content%}
    <div class="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carrouselimg1"></div>
            </div>
            <div class="carousel-item">
                <div class="carrouselimg2"></div>
            </div>
            <div class="carousel-item">
                <div class="carrouselimg3"></div>
            </div>
        </div>
        <button class="carousel-control-prev" onclick="prevSlide()">&#10094;</button>
        <button class="carousel-control-next" onclick="nextSlide()">&#10095;</button>
    </div>
    <div class="mid" >
        <div class="midcolumn">
            <div class="midcircle" id="moto"></div>
            <div class="midbox">
                <h6>ENTREGAS EN EL DIA</h6>
                <span>Entregamos en el dia de la misma compra</span>
            </div>
        </div>
        <div class="midcolumn">
            <div class="midcircle" id="bank"></div>
            <div class="midbox">
                <h6>TRANSFERENCIA</h6>
            </div>
        </div>
        <div class="midcolumn">
            <div class="midcircle" id="event"></div>
            <div class="midbox">
                <h6>ASISTENCIA EN EVENTOS</h6>
                <span>Nos encargamos de cubrir todas las necesidades para que no falte nada en tu fiesta</span>
            </div>
        </div>
    </div>
{% endblock %}
</body>
