<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar ses</title>
    <link rel="stylesheet" href="clientstyles/login.css">
    <link rel="icon" type="image/x-icon" href="/lenoir/screens/img/logo.png">

</head>
<body>
    <a href="/lenoir/screens/client/index.html"><div class="logo"></div></a>
    <form method="get" id="login" action"recibir_datos" >
        <input type="text" id="username" name="username" placeholder="Usuario">
        <input type="password" id="password" name="password" placeholder="Contraseña"> 
        <input type="submit" id="open" class="btn"value="Iniciar sesion">
        <div id="modal_container" class="modal-container">
            <div class="modal">
              <h1>Ingresando...</h1>
              
            </div>
          </div>
        <p class="warnings" id="warnings"></p>
        <a href="/lenoir/screens/client/register.html">CREAR CUENTA NUEVA</a>
    </form>
  

    <script src="/lenoir/screens/client/scripts/login.js"></script>
</body>
</html>