{% extends "client/layout.html" %}
{% block head %}
    <title>Catálogo de {{item}}</title>
    <link rel="stylesheet" href="/static/css/client/productos.css">
{% endblock %}
<body>
    <div class="content-products">
        <main>
            <div class="catalog">
                <div class="product">
                    <div class="tamano-productos">
                    <div class="vinobianchi"></div>
                    </div>
                    <p>Vino Bianchi</p>
                    <div class="productos-info">
                        <div class="ofertas">    
                            <p class="valorofertas1">ANTES: $5000</p>
                            <p class="valorofertas2">AHORA: $3000</p>
                        </div>
                        <div class="contador">
                            <button id="decrementar">-</button>
                            <p id="contador">0</p>
                            <button id="incrementar">+</button>
                        </div>
                    </div>
                    <button >Agregar al carrito</button>
                    <a href="/lenoir/screens/client/descproduct.html" ><button>Ver detalles</button></a>
                </div>
                <div class="product">
                    <div class="tamano-productos">
                        <div class="vinochaca"></div>
                        </div>
                        <p>Vino Blanco Chacabuco</p>
                        <div class="productos-info">
                            <div class="ofertas">    
                                <p class="valorofertas1">ANTES: $5000</p>
                                <p class="valorofertas2">AHORA: $3000</p>
                            </div> 
                            <div class="contador">
                                <button id="decrementar">-</button>
                                <p id="contador">0</p>
                                <button id="incrementar">+</button>
                            </div>
                        </div>
                        <button >Agregar al carrito</button>
                        <a href="/lenoir/screens/client/descproduct.html" ><button>Ver detalles</button></a>
                        
                    
                </div>
                <div class="product">
                    <div class="tamano-productos">
                        <div class="toro"></div>
                    </div>
                    <p>Vino Toro en Caja</p>                    
                    <div class="productos-info">
                        <div class="ofertas">   
                            <p class="valorofertas1">ANTES: $5000</p>
                            <p class="valorofertas2">AHORA: $3000</p>
                        </div>
                        <div class="contador">
                            <button id="decrementar">-</button>
                            <p id="contador">0</p>
                            <button id="incrementar">+</button>
                        </div>
                    </div>
                    <button >Agregar al carrito</button>
                    <a href="/lenoir/screens/client/descproduct.html" ><button>Ver detalles</button></a>
                </div>
            </div>
        </main>
    </div>
    <script src="/lenoir/screens/client/scripts/carrito.js"></script>
    <script src="/lenoir/screens/client/scripts/contador2.js"></script>
    <script src="/lenoir/screens/client/scripts/pago.js"></script>
</body>