<!DOCTYPE html>
<html lang="en">
{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrarse</title>
    <link rel="stylesheet" href="/static/css/client/login.css">
    <link rel="icon" type="image/x-icon" href="/lenoir/screens/img/logo.png">
{% endblock %}
<body>
    {% if param and param.get('error_msg_register')!=None %}
    <p class="error_msg_alert">{{param.get('error_msg_register')}}</p>
    {%endif%}
    {% if param and param.get('succes_msg_register')!=None %}
    <p class="succes_msg_alert">{{param.get('succes_msg_register')}}</p>
    {%endif%}
    <a href="/"><div class="logo"></div></a>
    <form method="post" id="register">
        <input type="text" id="nombre" placeholder="Nombre y apellido">
        <input type="text" id="user" placeholder="Usuario">
        <input type="text" id="numero" placeholder="Número de telefono">
        <input type="email" id="email" placeholder="Email">
        <input type="password" id="registerpassword" placeholder="Contraseña">
        <input type="password" id="rpassword" placeholder="Repetir contraseña">
        <input type="submit" class="btn" value="REGISTRAR">
        <div id="modal_container" class="modal-container">
            <div class="modal">
                <h1>Registrando...</h1>
            </div>
        </div>
        <p class="warnings" id="warnings"></p>
        <a href="/login">YA TENGO UNA CUENTA</a>
    </form>
    {% block script %}
    <script src="/lenoir/screens/client/scripts/header.js"></script>
    <script src="/lenoir/screens/client/scripts/carrito.js"></script>
    <script src="/lenoir/screens/client/scripts/contador2.js"></script>
    {% endblock %}
</body>
</html>