.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.product-info {
    padding: 15px;
    text-align: center;
}

.product-title {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.product-price {
    font-size: 1.5em;
    color: #e63946;
    margin-bottom: 10px;
}

.product-desc {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 15px;
}

.btn-buy {
    background-color: #1d3557;
    color: white;
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

.btn-buy:hover {
    background-color: #457b9d;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000;
}


.modal-content {
    background-color: #333;
    color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}


.hidden {
    display: none;
}


.show {
    display: flex;
}